.appbar {
    background: #f6ae2d; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .navbar-logo {
    /* justify-self: start; */
    margin-left: 0.5rem;
    width: 50px;
    height: inherit;
  }

  .logout{
    position: fixed;
    margin-left: 1450px;
 }
  